<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Agency</h1>

  <div>
    {% for n in userinfo %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

    <form method="POST" action="/draft">
    <h2>Contracts</h2>
  <select name="contract">
    {% for n in contractinfo %}
    <option value="{{ n }}">{{n,contractinfo[n]}}</option>
    {% endfor %}
  </select>

    <p>tenant_ssn: <input type="text" name="tenant"></p>
    <p>landlord_ssn: <input type="text" name="landlord"></p>
    <p>bo_block_lot: <input type="text" name="bo_block_lot"></p>
    <p>Draft a contract: <input type="submit" value="Draft"></p>
    </form>

{#  <h2>Unpaid Bills</h2>#}
{#      <select name="unpaid">#}
{#        {% for n in upinfo %}#}
{#        <option value="{{ n }}">{{n,upinfo[n]}}</option>#}
{#        {% endfor %}#}
{#      </select>#}


{#  <h2>Paid Bills</h2>#}
{#    <select name="contract">#}
{#        {% for n in paidinfo %}#}
{#        <option>{{n,paidinfo[n]}}</option>#}
{#        {% endfor %}#}
{#    </select>#}

</body>


</html>
